<div class="content">

  <div>
    <!-- <h1>資訊匯集中心</h1> -->
    <mat-form-field class="example-full-width">
      <mat-label>搜尋資源, 譬如：台灣</mat-label>
      <input matInput [(ngModel)]="filterName" placeholder="Description" />
    </mat-form-field>
  </div>

  <div class="add-button">
    <button
    mat-raised-button
    color="primary"
    (click)="openAddTodoDialog()">
      <h2 class="add-video-text">新增資源</h2>
    </button>
  </div>

  <!-- TODO: next feature -->
  <!-- <div class="add-button">
    <button
    mat-button color="primary"
    (click)="openAddBlockDialog()">
      Add New Block
    </button>
  </div> -->

  <div cdkDropListGroup class="center">


    <!-- To-do  -->
    <div class="group-container">

      <div>
        <!-- <h2>未看</h2> -->
        <div
          cdkDropList
          [cdkDropListData]="todo"
          (cdkDropListDropped)="drop($event)"
          class="group-list"
          id="todo-group"
        >
        <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-description>
            <h2>未看</h2>
          </mat-panel-description>
        </mat-expansion-panel-header>

          <div
            cdkDrag
            *ngFor="let item of todo | filterByName: filterName; index as i"
            [cdkDragData]="item"
            class="group-box"
          >
            <span>
              <a href="{{ item.url }}">{{ item.description }}</a>
            </span>
            <a (click)="moveToTrash(todo,item )" class="delete-button">
              <i class="material-icons">delete</i>
            </a>
          </div>

          </mat-expansion-panel>
        </div>
      </div>

      <br />

    </div>

    <!-- done / archived -->
    <div class="group-container">

      <div>
        <div
          cdkDropList
          [cdkDropListData]="done"
          (cdkDropListDropped)="drop($event)"
          class="group-list"
          id="done-group"
        >
        <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-description>
            <h2>封存</h2>
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div
            cdkDrag
            *ngFor="let item of done | filterByName: filterName; index as i"
            [cdkDragData]="item"
            class="group-box"
          >
            <span>
              <a href="{{ item.url }}">{{ item.description }}</a>
            </span>
            <a (click)="moveToTrash(done, item)" class="delete-button">
              <i class="material-icons"> delete </i>
            </a>
          </div>
          </mat-expansion-panel>
        </div>
      </div>
    </div>

    <!-- otherA -->
    <div class="group-container">

      <div>
        <div
          cdkDropList
          [cdkDropListData]="otherA"
          (cdkDropListDropped)="drop($event)"
          class="group-list"
          id="otherA-group"
        >
        <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-description>
            <h2>其他類別一</h2>
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div
            cdkDrag
            *ngFor="let item of otherA | filterByName: filterName; index as i"
            [cdkDragData]="item"
            class="group-box"
          >
            <span>
              <a href="{{ item.url }}">{{ item.description }}</a>
            </span>
            <a (click)="moveToTrash(otherA, item)" class="delete-button">
              <i class="material-icons">delete</i>
            </a>
          </div>
          </mat-expansion-panel>
        </div>
      </div>

      <br />
    </div>

    <!-- otherB -->
    <div class="group-container">

      <div>
        <div
          cdkDropList
          [cdkDropListData]="otherB"
          (cdkDropListDropped)="drop($event)"
          class="group-list"
          id="otherB-group"
        >
        <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-description>
            <h2>其他類別二</h2>
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div
            cdkDrag
            *ngFor="let item of otherB | filterByName: filterName; index as i"
            [cdkDragData]="item"
            class="group-box"
          >
            <span>
              <a href="{{ item.url }}">{{ item.description }}</a>
            </span>
            <a (click)="moveToTrash(otherB, item)" class="delete-button">
              <i class="material-icons">delete</i>
            </a>
          </div>
          </mat-expansion-panel>
        </div>
      </div>

      <br />
    </div>


    <!-- otherC -->
    <div class="group-container">

      <div>
        <div
          cdkDropList
          [cdkDropListData]="otherC"
          (cdkDropListDropped)="drop($event)"
          class="group-list"
          id="otherC-group"
        >
        <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-description>
            <h2>Sabrina</h2>
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div
            cdkDrag
            *ngFor="let item of otherC | filterByName: filterName; index as i"
            [cdkDragData]="item"
            class="group-box"
          >
            <span>
              <a href="{{ item.url }}">{{ item.description }}</a>
            </span>
            <a (click)="moveToTrash(otherC, item)" class="delete-button">
              <i class="material-icons">delete</i>
            </a>
          </div>
          </mat-expansion-panel>
        </div>
      </div>

      <br />
    </div>



  </div>
</div>
