<div class="content">

<div>
  <h1>My Video Dashboard</h1>
  <mat-form-field class="example-full-width">
    <mat-label>Search Video</mat-label>
    <input matInput [(ngModel)]="filterName"
    placeholder="Description">
  </mat-form-field>
</div>

<div cdkDropListGroup class="center">
  <div class="todo-container">
    <h2>To Do</h2>
    <div>
      <div
        cdkDropList
        [cdkDropListData]="todo"
        (cdkDropListDropped)="drop($event)"
        class="todo-list"
        id="todo-group"
      >
        <div
          cdkDrag
          *ngFor="let item of todo | filterByName:filterName; index as i"
          [cdkDragData]="item"
          class="todo-box container"
        >
            <span>
              <a href="{{item.url}}">{{item.description}}</a>
            </span>
            <a
              (click)="removeTodo(i, todo)"
              class="delete-button"
            >
            <i
              class="material-icons">delete</i>
            </a>
        </div>
      </div>
    </div>


    <br>

    <button
      mat-button color="primary"
      (click)="openAddTodoDialog()">
      New Video
    </button>
  </div>

  <div class="todo-container">
    <h2>Done</h2>
    <div>
      <div
        cdkDropList
        [cdkDropListData]="done"
        (cdkDropListDropped)="drop($event)"
        class="todo-list"
        id="done-group"
      >
        <div
          cdkDrag
          *ngFor="let item of done | filterByName:filterName; index as i"
          [cdkDragData]="item"
          class="todo-box container"
        >
            <span>
              <a href="{{item.url}}">{{item.description}}</a>
            </span>
            <a
            (click)="removeTodo(i, done)"
            class="delete-button"
            >
              <i class="material-icons">
                delete
              </i>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
