<div cdkDropListGroup>


  <div class="drag-drop-container">

    <div
    cdkDropList
    [cdkDropListData]="dataGroup1"
    (cdkDropListDropped)="drop($event)"
    class="drag-drop-list"
    >

      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-description>
            還沒看
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div
        cdkDrag
        *ngFor="let item of dataGroup1"
        class="drag-drop-box"
          >
            <a href="{{item.url}}">{{item.name}}</a>
          </div>
      </mat-expansion-panel>
    </div>


  </div>

  <div class="drag-drop-container">
    <div
      cdkDropList
      [cdkDropListData]="vidType2"
      class="drag-drop-list"
      (cdkDropListDropped)="drop($event)">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-description>
            看了並先收藏
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div
            class="drag-drop-box"
            *ngFor="let item of vidType2"
            cdkDrag
          >
            <a href="{{item.url}}">{{item.name}}</a>
          </div>
      </mat-expansion-panel>
    </div>
  </div>

    <div class="drag-drop-container">
    <div
      cdkDropList
      [cdkDropListData]="vidType3"
      class="drag-drop-list"
      (cdkDropListDropped)="drop($event)">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-description>
            還沒看先收著以後看
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div
            class="drag-drop-box"
            *ngFor="let item of vidType3"
            cdkDrag
          >
            <a href="{{item.url}}">{{item.name}}</a>
          </div>
      </mat-expansion-panel>
    </div>
  </div>


</div>


